*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --color-primary:rgba(249, 241, 230);
    --color-secundary:rgba(186, 0, 45, 1);
    --color-terciary:rgba(253, 249, 245, 1);
    
    --unit-xs: 12px;
    --unit-s: 24px;
    --unit-m: 36px;
    --unit-l: 48px;
    --unit-xl:72px
}


body{
    margin:none;
    padding:none;
    background-color:var(--color-terciary);
}


header {
    width: 100%;
    height:90px;
    display: inline;
    background-color:black;
}

.inner_header {
    width:100%;
    height: 100%;
    position:top;
    display: block;
    margin: 0 auto;
    background-color:var(--color-primary);
   
}

h1 {
    font-size: var(--unit-xl);
    color: var(--color-secundary);
    font-family: 'Montserrat';
    display: table-cell;
    vertical-align: middle;
    padding-left: var(--unit-xl);
    display: inline-block;
}

.navigation {
   float: right;
    height:100%;
    clear: both;
    padding-top: var(--unit-l);
    margin-right:var(--unit-xl);
}

.navigation a{
    transition: 0.2s all;
    height:100%;
    display: table;
    float: left;
    padding: 0px 20px;
    font-family: 'Montserrat';
    font-size: var(--unit-s);
    color:black;
    
}

.navigation a:hover{
    color:var(--color-secundary);
}

.container{
        width: 100%;
        height: 700px;
        padding-top: var(--unit-xl);
        display: flex;
        justify-content: space-around;
        margin-bottom: var(--unit-xl);
}

h2{
    text-align:left;
    font-size: var(--unit-l);
    font-family: 'Montserrat';
    padding-right: var(--unit-xl);
}

.text {
    display: flex;
    text-align: left;
    width:40%;
    font-size: var(--unit-xs);
    font-family: 'Montserrat';
    padding-left: var(--unit-xl);
}

.photo1{
    float:right;
    width: 30%;
    height: 600px;
    background-color: var(--color-secundary);
}

.footer{
    height:70px;
    position: bottom;
    left:0;
    bottom:0;
    width:100%;
    background-color:rgba(249, 241, 230, 1);
    color:black;
    text-align: left;
    font-size: var(--unit-xs);
    font-family: 'Montserrat';
    padding-left:var(--unit-xl);
    padding-top: var(--unit-s);
    margin-top: var(--unit-xl);
}