*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
}

body{
    margin:none;
    padding:none;
    background-color: rgba(249, 241, 230, 0.40);
}


header {
    width: 100%;
    height:90px;
    display: inline;
    background-color:black;
}

.inner_header {
    width:100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color:rgba(249, 241, 230, 1);
   
}

h1 {
    font-size: 72px;
    color:rgba(186, 0, 45, 1);
    font-family: 'Montserrat';
    display: table-cell;
    vertical-align: middle;
    padding-left: 72px;
    display: inline-block;
}

.navigation {
   float: right;
    height:100%;
    clear: both;
    padding-top: 50px;
    margin-right:72px;
}

.navigation a{
    height:100%;
    display: table;
    float: left;
    padding: 0px 20px;
    font-family: 'Montserrat';
    font-size: 24px;
    color:black;
}

.box1 {
    height: 250px;
    width: 100%;
    background-color: white;
    color:black;
    text-align: left;
    font-size: 48px;
    font-family: 'Montserrat';
    padding-left: 72px;
    padding-top: 72px;
}

.box2 {
    height:100px;
    width:100%;
    background-color: white;
    color: black;
    text-align: center;
    font-size: 36px;
    font-family:'Montserrat';
    padding-top:300px;
    padding-right: 72px;
   
}

.box3 {
    height:500px;
    width:500px;
    background-color:rgba(186, 0, 45, 1);
    margin-left: 72px;
    margin-top: 72px;
}

.work1 {
    text-align: left;
    padding-left: 72px;
    font-size: 36px;
    font-family: 'Montserrat';

}

.description1 {
    text-align: left;
    padding-left: 72px;
    font-size: 24px;
    font-family: 'Montserrat';
    color: grey;
}

.box4 {
    float:top;
    margin-left: 60%;
    height:700px;
    width:500px;
    background-color: rgba(186, 0, 45, 1);
    
    
}

.work2 {
    text-align: right;
    padding-right: 313px;
    font-size: 36px;
    font-family: 'Montserrat';
}

.description2 {
    text-align: right;
    padding-right: 223px;
    font-size: 24px;
    font-family: 'Montserrat';
    color: grey;
}

.footer{
    height:50px;
    position: bottom;
    left:0;
    bottom:0;
    width:100%;
    background-color:rgba(249, 241, 230, 1);
    color:black;
    text-align: left;
    font-size: 12px;
    font-family: 'Montserrat';
    padding-left:70px;
    padding-top: 20px;
}